<h2>Agregar producto</h2>

<form action="/productos" method="post">
    <label for="title">Nombre producto:</label><br>
    <input type="text" id="title" name="title">
    <br>
    <label for="price">Precio:</label><br>
    <input type="text" id="price" name="price">
    <br>
    <label for="imagen">Url de la imagen:</label><br>
    <input type="text" id="imagen" name="imagen">
    <br>
    <button>Enviar</button>
</form>

<button onclick="location.href = '/'">Ver productos</button>