<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSockets</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../js/main.js"></script>
</head>

<body>
    <section>
        <div style="position: fixed; top: 20px; left: 20px;">
            <h2>Agregar producto</h2>
            <form action="/productos" method="post" onsubmit="return addProduct()">
                <label for="prod_name">Nombre producto:</label><br>
                <input type="text" id="prod_name" name="prod_name">
                <br>
                <label for="precio">Precio:</label><br>
                <input type="text" id="precio" name="precio">
                <br>
                <label for="imagen">Url de la imagen:</label><br>
                <input type="text" id="imagen" name="imagen">
                <br>
                <button>Enviar</button>
            </form>
        </div>

        <div style="position: fixed; bottom: 20px; right: 20px;">
            <h1>Mensajería</h1>
            <div id="messages_container"></div>
            <form onsubmit="return addMessage()" autocomplete="off">
                <br>
                <input type="text" id="mail" placeholder="Mail">
                <br>
                <input type="text" id="nombre" placeholder="Nombre">
                <br>
                <input type="text" id="apellido" placeholder="Apellido">
                <br>
                <input type="number" id="edad" placeholder="Edad">
                <br>
                <input type="text" id="alias" placeholder="Alias">
                <br>
                <input type="text" id="avatar" placeholder="Avatar">
                <br>
                <input type="text" id="texto" placeholder="Mensaje">
                <br>
                <input type="submit" value="Enviar">
            </form>
        </div>


        <div>
            <h1 style="display:flex; justify-content: center; margin:50px">Lista de productos</h1>

            <section id="product_container" style="display:flex; justify-content: center; column-gap: 30px; flex-wrap: wrap; margin: 30px">

            </section>
        </div>
    </section>



    <script src="../../../server.js"></script>

</body>

</html>